.button {
  margin: 15px;
  padding: 15px 46px;
  border: none;
  border-radius: 8px;
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}