.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 460px;
  min-height: 250px;
  max-height: 500px;
  overflow: auto;

  @media (min-width: 768px) {
    max-width: 60%;
  }
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  & h2{
    font-size: 28px;
    margin: 85px 0 0;
  }

  & p{
    text-align: center;
    color: #7F7F7F;
    margin: 35px 0 60px;
  }
}


.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__header {
  position: absolute;
  top: 0;
  right: 10px;
}

.modal__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 65px;
  align-items: center;

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 15px 45px;
    font-size: 15px;
    font-weight: 500;
    background-color: #1a1a1a;
    color: #8A33FD;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:nth-child(1){
    background-color: #8A33FD;
    color: #FFFFFF;
  }

  button:nth-child(2){
    background-color: #FFFFFF;
    color: #8A33FD;
    border-color: #8A33FD;
  }

  button:hover {
    border-color: #646cff;
  }
  
}